<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ths.ScanPay_UserV5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myscanpay"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myscanpay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        >
        <activity android:name="ths.ScanPay_UserV5.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="ths.ScanPay_UserV5.Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="ths.ScanPay_UserV5.MainActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.Login"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.RecoveryPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.SignUpStep1"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.SignUpStep2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.SignUpStep3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.ViewAgreementWebview"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.LocationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="ths.ScanPay_UserV5.MessageCentreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.MessageCentreDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.SystemInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.EditProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.EditProfileDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/TextAppearance.Theme.Dialog">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.BalanceActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="ths.ScanPay_UserV5.JomPayWebview"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.FindMerchantActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.FindMerchantDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.PaymentScanQRActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.TopUpScanQRActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ths.ScanPay_UserV5.CaptureActivityPortrait"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="ths.ScanPay_UserV5.Verification_LoginPage"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>