<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ths.ScanPay_User">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/myscanpay"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myscanpay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecoveryPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SignUpStep1"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SignUpStep2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SignUpStep3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ViewAgreementWebview"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LocationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MessageCentreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SystemInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EditProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EditProfileDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/TextAppearance.Theme.Dialog">
        </activity>

    </application>

</manifest>